* {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* общие стили */
}
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* конец общих стилей */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Начало хедера */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-text {
  color: #2e2f42;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.adress {
  font-style: normal;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* Конец Хедера */

/* Начало 1секции Hero */
.hero {
  background-color: #2e2f42;
  display: flex;
  padding: 188px 0;
}

.hero-container {
  display: block;
  align-items: center;
}

.heading-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}

.btn {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  align-items: center;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 48px auto auto;
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* Конец 1 секции Hero */

/* Начало 2 секции без заголовка */

.Solutions {
  padding: 120px 0;
}
.noname-container {
  display: flex;
  align-items: center;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.list {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: #ffffff;
}
.subtitle-list {
  width: calc((100% - 72px) / 4);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Конец 2 секции без заголовка */

/* Начало 3 секции Team */
.team {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  padding: 120px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}
.subcontainer {
  padding: 32px 0;
}

.item-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-subtext {
  text-align: center;
}

/* Конец 3 секции Team */

/* Начало 4 секции Portfolio */

.portfolio {
  padding: 120px 0;
}
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.porfolio-item {
  width: calc((100% - 48px) / 3);
}

.subcontainer-portfolio {
  padding: 32px 16px;
  border-top: none;
  border: 1px solid #e7e9fc;
}

/* Конец 4 секции Portfolio */

/* Начало секции Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* Конец секции Footer */
